<h1>{{title}}</h1>

<div class="note-body">
  {{body}}
</div>

<div class="well">
{{#if editing}}
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <label>Title</label>
        {{input type="text" value=title class="form-control"}}
      </div>
      <div class="form-group">
        <label>Body</label>
        {{textarea value=body class="form-control"}}
      </div>
    </div>
  </div>

  <button class="btn btn-default" {{action 'stopEditing'}}>Finish Editing</button>
{{else}}
  <button class="btn btn-default" {{action 'startEditing'}}>Edit Note</button>
{{/if}}
</div>